.search-dropdown {
  position: absolute;
  display: none;
  width: 593px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  background-color: #ffffff;
  z-index: 100;
}