.search-dropdown {
  position: absolute;
  display: none;
  width: 593px;
  margin-top: 10px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  border-radius: 3px;
  background-color: #ffffff;
  z-index: 100;

  &__row {
    &-title {
      color: $colorTitle;
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
  }

  &__tag {
    cursor: pointer;
    display: flex;
    margin-right: 12px;
    margin-bottom: 8px;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid rgba(222, 222, 222, 0.66);
    background-color: #ffffff;
    transform-style: .3s ease;
    &-icon {
      margin-right: 12px;
    }

    &-name {
      margin-right: 10px;
    }

    &:hover {
      border: 1px solid $colorPrimery;
    }
  }

  @media (max-width: 1000px) {
    & {
      left: 10%;
      max-width: 593px;
    }
  }

  @media (max-width: $screen-md) {
    & {
      left: 10%;
      max-width: 493px;
    }
  }

  @media (max-width: 591px) {
    & {
      left: 10%;
      max-width: 403px;
    }
  }

  @media (max-width: 540px) {
    & {
      top: 18%;
      left: 5%;
      max-width: 403px;
    }
  }

  @media (max-width: 412px) {
    & {
      left: 10px;
      right: 10px;
      width: 92%;
      max-width: 92%;
    }
  }
}