.catalogue {

  &__main-title {
    color: $colorTitle;
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
  }

  &__sub-title {
    color: $colorTitle;
    margin-top: 5rem;
    margin-bottom: 0.3rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
  }

  &__categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &-item {
      display: flex;
      flex-basis: 1;
      margin: 10px;
    }

    &-txt {
      color: $blackLight;
      font-size: 1.4em;
      margin-left: 24px;
      text-decoration: underline;
      text-decoration-color: rgba(0, 0, 0, 0.308);
    }
  }

  &__unit {
    margin-top: 4rem;
    &-title {
      font-size: 2.4rem;
      font-weight: 700;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    padding-top: 20px;
    border-top: 1px solid #f3f3f3;
    max-height: 220px;
    overflow: hidden;
    transition: all .6s ease;

     &.show {
      max-height: 2500px;
    }

    &-item {
      margin-left: 15px;
    }


    &-link {
      display: inline-block;
      color: $black;
      max-width: 180px;
      margin-top: 18px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid rgba(222, 222, 222, 0.66);
      background-color: #ffffff;
      overflow: hidden;
      white-space: nowrap;
      transition: .3s ease;
      &:hover {
        text-decoration: none;
        color: $colorPrimery;
        border: 1px solid $colorPrimery;
      }
    }
  }

  &__show-more {
    color: #433f3f;
    margin-top: 15px;
    padding: 12px 15px;
    font-size: 1.6rem;
    letter-spacing: 0.2px;
    border-radius: 5px;
    border: 1px solid rgba(222, 222, 222, 0.66);
    background: $colorBackground;
  }

  @media (max-width: 1000px) {

    &__categories {
      justify-content: flex-start;

      &-item {
        align-items: center;
        width: calc(33% - 10px);
        margin: 5px;
      }

      &-icon {
        flex-shrink: 0;
        width: 50px;
        height: 50px;
      }

      &-txt {
        font-size: 1.6rem;
      }
    }

    &__list {
      columns: 3;
  
      &-link {
        margin-top: 12px;
        padding: 6px;
      }
    }

    &__show-more {
      margin-top: 15px;
    }
  }

  @media (max-width: $screen-md) {
    &__categories {
      justify-content: space-between;
       &-item {
        align-items: center;
        width: calc(49.999% - 25px);
        margin: 0px;
        margin-top: 15px;
      }
      &-txt {
        font-size: 1.4rem;
        margin-left: 15px;
      }
    }

    &__list {
      columns: 2;
    }
   
  }

  @media (max-width: $screen-xs) {
    &__categories {
      justify-content: space-between;
       &-item {
        width: calc(100% - 25px);
      }
      &-txt {
        margin-left: 15px;
      }
    }

    &__list {
      columns: 1;
    }
   
  }

}
