.logo {
   display: flex;
   flex-direction: column;
   width: 168px;
   margin-right: 20px;
   text-align: center;

   &__icon {
      width: 80px;
      height: 80px;
      margin: 0 auto;
   }

   &__descr {
      color: #000000;
      margin-top: 8px;
      font-size: 13px;
      letter-spacing: -0.1px;
      line-height: 1.4rem;
      opacity: 0.4;
      &:hover {
         text-decoration: none;
      }
   }

   @media (max-width: 1000px) {
      &__descr {
       display: none;
      }

      &__icon {
         width: 45px;
         height: 45px;
      }
    }
}
