<footer class="page-footer">
  <div class="page-footer__container">
      <div class="page-footer__wrap">
        <a class="page-footer__logo">
          <img src="./img/logo.png" alt="" class="page-footer__logo-icon">
          <p class="page-footer__logo-descr">
              Запасные части для автоматических трансмиссий
          </p>
        </a>
        <div class="page-footer__nav">
            <nav class="page-nav">
                <ul class="page-nav__list">
                  <li class="page-nav__list-item"><a href="catalogue.html" class="page-nav__list-link">Каталог</a></li>
                  <li class="page-nav__list-item"><a href="" class="page-nav__list-link">Доставка</a></li>
                  <li class="page-nav__list-item"><a href="" class="page-nav__list-link">Гарантия</a></li>
                  <li class="page-nav__list-item"><a href="" class="page-nav__list-link">Контакты</a></li>
                  <li class="page-nav__list-item"><a href="news-list.html" class="page-nav__list-link">Новости</a></li>
                </ul>
              </nav>
        </div>

        <div class="page-footer__info">
          <a href="tel:+78129624200" class="page-footer__phone">+7 (812) 962-42-00</a>
          <span class="page-footer__schedule">с 10 до 20 ч. с Пн-СБ</span>
        </div>
      </div>
      <div class="page-footer__wrap">
        <a href="" class="page-footer__policy">Политика конфеденциальности</a>
        <div class="page-footer__location">
          <span>Старо-Петергофский пр, 20, к. 3</span>
          <span>1-й Верхний переулок, 10</span>
        </div>

        <div class="page-footer__social">
          <a href="" class="page-footer__social-circle">
              <img src="./img/fb.png" alt="inst" class="page-footer__social-icon">
          </a>
          <a href="" class="page-footer__social-circle">
              <img src="./img/inst.png" alt="fb" class="page-footer__social-icon">
          </a>
          <a href="" class="page-footer__social-circle">
              <img src="./img/twitter.png" alt="twitter" class="page-footer__social-icon">
          </a>
        </div>

        <div class="page-footer__creater">
            <span class="page-footer__creater-overview">Создание и продвижение</span>
            <a href="" class="page-footer__creater-name">MAKEIT</a>
        </div>

        <a href="mailto:info@piterakpp.com" class="page-footer__mail">info@piterakpp.com</a>
      </div>
  </div>
</footer>



<div class="modal modal--grey" id="modal-cart" tabindex="-1" role="dialog">
      <div class="modal__dialog" role="document">
        <div class="modal__content modal__content--grey">
          <div class="modal__header">
            <span class="close modal__close" data-dismiss="modal" aria-label="Закрыть">
              <span></span>
            </span>
            <a class="modal__phone" href="tel:+78129624200">+7 (812) 962-42-00</a>
            <span class="modal__schedule">10-20 Пн-Сб</span>
          </div>
          <div class="modal__body">
            <div class="cart">
              <div class="cart__inner"> 
                <header class="cart__header">
                  <span class="cart__title">Корзина</span>
                  <span class="cart__clear-all">Очистить</span>
                </header>
              </div>
            </div>
            <div class="cart-success">
              <div class="cart-success__inner">
                <svg class="cart-success__icon" xmlns="http://www.w3.org/2000/svg" width="158" height="116" viewBox="0 0 158 116"><g><g><path fill="none" stroke="#9ce367" stroke-linecap="round" stroke-miterlimit="50" stroke-width="6" d="M4 68.775v0L46.661 111.5v0L154 4v0"/></g></g></svg>
                <span class="cart-success__title">Заказ успешно оформлен</span>
                <p class="cart-success__info">В ближайшее время с вами свяжется наш менеджкр чтобы уточнить детали заказа</p>
                <a href="#" class="cart-success__link-to">Перейти в каталог</a>
              </div>
            </div>
            <div class="product product--head">
              <div class="product__row">
                <div class="product__photo">
                  <span class="product__head">Фото</span>
                </div>
                <div class="product__article">
                  <span class="product__head">Артикул</span>
                </div>
                <div class="product__name">
                  <span class="product__head">Название</span>
                </div>
                <div class="product__producer">
                  <span class="product__head">Производитель</span>
                </div>
                <div class="product__amount">
                  <span class="product__head">Количество</span>
                </div>
                <div class="product__availability">
                  <span class="product__head">Наличие</span>
                </div>
                <div class="product__to-cart"></div>
              </div>
            </div>

            <div class="product">
              <div class="product__row">
                <div class="product__photo">
                  <img src="./img/transmition-photo.jpg" alt="transmition photo">
                </div>
                <div class="product__article">46800B</div>
                <div class="product__name">Масляный фильтр</div>
                <div class="product__producer">AFTERMARKET</div>
                <div class="product__amount">
                  <div class="field-num  field-num--bg-tran">
                    <span class="field-num__input-wrap">
                      <button class="field-num__btn-minus" type="button">-</button>
                      <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                      <button class="field-num__btn-plus" type="button">+</button>
                    </span>
                  </div>
                </div>
                <div class="product__availability">
                  <span class="product__available">В наличии</span>
                </div>
                <div class="product__to-cart">
                  <div class="cart__closer"></div>
                </div>
              </div>

              <div class="product__mobile">
                <div class="product__mobile-img">
                  <img src="./img/transmition-photo.jpg" alt="transmition photo">
                </div>

                <div class="product__mobile-wrap">
                  <div class="product__mobile-item product__mobile-item--lg">
                    <div class="product__mobile-name">
                      Артикул:
                      <span class="product__article">46800B</span>
                    </div>
                    <div class="product__mobile-name">
                      Название:
                      <span class="product__name">Масляный фильтр</span>
                    </div>
                    <div class="flex-wrap">
                      <div class="product__availability">
                        <span class="product__available">В наличии</span>
                      </div>
                      <div class="product__amount">
                        <div class="field-num  field-num--bg-tran">
                          <span class="field-num__input-wrap">
                            <button class="field-num__btn-minus" type="button">-</button>
                            <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                            <button class="field-num__btn-plus" type="button">+</button>
                          </span>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="product__mobile-item">
                    <div class="product__mobile-name">
                      Производитель:
                      <span class="product__article">46800B</span>
                    </div>
                    <div class="product__mobile-name">
                      Тех. номер:
                      <span class="product__tech-number">57010E</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="product">
              <div class="product__row">
                <div class="product__photo">
                  <img src="./img/transmition-photo.jpg" alt="transmition photo">
                </div>
                <div class="product__article">46800B</div>
                <div class="product__name">Масляный фильтр</div>
                <div class="product__producer">AFTERMARKET</div>
                <div class="product__amount">
                  <div class="field-num  field-num--bg-tran">
                    <span class="field-num__input-wrap">
                      <button class="field-num__btn-minus" type="button">-</button>
                      <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                      <button class="field-num__btn-plus" type="button">+</button>
                    </span>
                  </div>
                </div>
                <div class="product__availability">
                  <span class="product__available">В наличии</span>
                </div>
                <div class="product__to-cart">
                  <div class="cart__closer"></div>
                </div>
              </div>

              <div class="product__mobile">
                <div class="product__mobile-img">
                  <img src="./img/transmition-photo.jpg" alt="transmition photo">
                </div>

                <div class="product__mobile-wrap">
                  <div class="product__mobile-item product__mobile-item--lg">
                    <div class="product__mobile-name">
                      Артикул:
                      <span class="product__article">46800B</span>
                    </div>
                    <div class="product__mobile-name">
                      Название:
                      <span class="product__name">Масляный фильтр</span>
                    </div>
                    <div class="flex-wrap">
                      <div class="product__availability">
                        <span class="product__available">В наличии</span>
                      </div>
                      <div class="product__amount">
                        <div class="field-num  field-num--bg-tran">
                          <span class="field-num__input-wrap">
                            <button class="field-num__btn-minus" type="button">-</button>
                            <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                            <button class="field-num__btn-plus" type="button">+</button>
                          </span>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="product__mobile-item">
                    <div class="product__mobile-name">
                      Производитель:
                      <span class="product__article">46800B</span>
                    </div>
                    <div class="product__mobile-name">
                      Тех. номер:
                      <span class="product__tech-number">57010E</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="product">
              <div class="product__row">
                <div class="product__photo">
                  <img src="./img/transmition-photo.jpg" alt="transmition photo">
                </div>
                <div class="product__article">46800B</div>
                <div class="product__name">Масляный фильтр</div>
                <div class="product__producer">AFTERMARKET</div>
                <div class="product__amount">
                  <div class="field-num  field-num--bg-tran">
                    <span class="field-num__input-wrap">
                      <button class="field-num__btn-minus" type="button">-</button>
                      <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                      <button class="field-num__btn-plus" type="button">+</button>
                    </span>
                  </div>
                </div>
                <div class="product__availability">
                  <span class="product__available">В наличии</span>
                </div>
                <div class="product__to-cart">
                  <div class="cart__closer"></div>
                </div>
              </div>

              <div class="product__mobile">
                <div class="product__mobile-img">
                  <img src="./img/transmition-photo.jpg" alt="transmition photo">
                </div>

                <div class="product__mobile-wrap">
                  <div class="product__mobile-item product__mobile-item--lg">
                    <div class="product__mobile-name">
                      Артикул:
                      <span class="product__article">46800B</span>
                    </div>
                    <div class="product__mobile-name">
                      Название:
                      <span class="product__name">Масляный фильтр</span>
                    </div>
                    <div class="flex-wrap">
                      <div class="product__availability">
                        <span class="product__available">В наличии</span>
                      </div>
                      <div class="product__amount">
                        <div class="field-num  field-num--bg-tran">
                          <span class="field-num__input-wrap">
                            <button class="field-num__btn-minus" type="button">-</button>
                            <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                            <button class="field-num__btn-plus" type="button">+</button>
                          </span>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="product__mobile-item">
                    <div class="product__mobile-name">
                      Производитель:
                      <span class="product__article">46800B</span>
                    </div>
                    <div class="product__mobile-name">
                      Тех. номер:
                      <span class="product__tech-number">57010E</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="product">
              <div class="product__row">
                <div class="product__photo">
                  <img src="./img/transmition-photo.jpg" alt="transmition photo">
                </div>
                <div class="product__article">46800B</div>
                <div class="product__name">Масляный фильтр</div>
                <div class="product__producer">AFTERMARKET</div>
                <div class="product__amount">
                  <div class="field-num  field-num--bg-tran">
                    <span class="field-num__input-wrap">
                      <button class="field-num__btn-minus" type="button">-</button>
                      <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                      <button class="field-num__btn-plus" type="button">+</button>
                    </span>
                  </div>
                </div>
                <div class="product__availability">
                  <span class="product__available">В наличии</span>
                </div>
                <div class="product__to-cart">
                  <div class="cart__closer"></div>
                </div>
              </div>

              <div class="product__mobile">
                <div class="product__mobile-img">
                  <img src="./img/transmition-photo.jpg" alt="transmition photo">
                </div>

                <div class="product__mobile-wrap">
                  <div class="product__mobile-item product__mobile-item--lg">
                    <div class="product__mobile-name">
                      Артикул:
                      <span class="product__article">46800B</span>
                    </div>
                    <div class="product__mobile-name">
                      Название:
                      <span class="product__name">Масляный фильтр</span>
                    </div>
                    <div class="flex-wrap">
                      <div class="product__availability">
                        <span class="product__available">В наличии</span>
                      </div>
                      <div class="product__amount">
                        <div class="field-num  field-num--bg-tran">
                          <span class="field-num__input-wrap">
                            <button class="field-num__btn-minus" type="button">-</button>
                            <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                            <button class="field-num__btn-plus" type="button">+</button>
                          </span>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="product__mobile-item">
                    <div class="product__mobile-name">
                      Производитель:
                      <span class="product__article">46800B</span>
                    </div>
                    <div class="product__mobile-name">
                      Тех. номер:
                      <span class="product__tech-number">57010E</span>
                    </div>
                  </div>

                </div>
              </div>
            </div>

              <div class="cart__order">
                <form action="" class="cart-form">
                  <div class="cart-form__wrap">
                    <input type="text" class="cart-form__input" placeholder="Имя">
                  </div>
                  <div class="cart-form__wrap">
                    <input type="text" class="cart-form__input" placeholder="Телефон">
                  </div>
                  <div class="cart-form__wrap">
                    <button class="btn cart-form__btn">Оформить заказ</button>
                    <div class="cart-form__agreement">
                      <input type="checkbox" id="terms">
                      <label for="terms">Я согласен на обработку персональных данных</label>
                    </div>
                  </div>
                </form>
              </div>

          </div>
        </div>
      </div>
    </div>


   <script src="./scripts/app.js"></script>
</body>
</html>