<!doctype html>
<html lang="ru">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Каталог</title>
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    {% include '../blocks/header/main_header.twig' %}

    <main class="main">
      <div class="main__container">
        <div class="main__content">
          <section class="d-catalogue">
            <a href="" class="сome-back">
              Все трансмиссии
            </a>
            <header class="d-catalogue__header">
              <div class="d-catalogue__header-inner">
                <h1 class="d-catalogue__name">Детали трансмиссии 02E, DQ250 (DSG)</h1>
                <span class="d-catalogue__amount">117 шт.</span>
              </div>

              <button class="btn d-catalogue__btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="23" viewBox="0 0 35 23"><g><g><g><path fill="#2d2a2a" d="M13 21h22v2H13z"/></g><g><path fill="#2d2a2a" d="M13 0h22v2H13z"/></g><g><path fill="#2d2a2a" d="M13 11h22v2H13z"/></g><g><path fill="#2d2a2a" d="M0 0h6v2H0z"/></g><g><path fill="#2d2a2a" d="M0 10.5h6v2H0z"/></g><g><path fill="#2d2a2a" d="M0 21h6v2H0z"/></g></g></g></svg>
                <a href="" class="d-catalogue__btn-txt">Показать списком</a>
              </button>
            </header>
            <div class="catalogue-scheme">
              <div class="catalogue-scheme__preview"> 

                <a href="#" class="catalogue-scheme__preview-item  catalogue-scheme__preview-item--active">
                  <div class="catalogue-scheme__preview-img-wrap">
                    <img src="./img/catalogue-scheme1.jpg" alt="scheme" class="catalogue-scheme__preview-img">
                  </div>
                  <span class="catalogue-scheme__preview-name">Case</span>
                </a>
                
                <a href="#" class="catalogue-scheme__preview-item">
                    <div class="catalogue-scheme__preview-img-wrap">
                      <img src="./img/catalogue-scheme2.jpg" alt="scheme" class="catalogue-scheme__preview-img">
                    </div>
                    <span class="catalogue-scheme__preview-name">Case</span>
                </a>  

                <a href="#" class="catalogue-scheme__preview-item ">
                    <div class="catalogue-scheme__preview-img-wrap">
                      <img src="./img/catalogue-scheme3.jpg" alt="scheme" class="catalogue-scheme__preview-img">
                    </div>
                    <span class="catalogue-scheme__preview-name">Case</span>
                </a>
                
                <a href="#" class="catalogue-scheme__preview-item ">
                    <div class="catalogue-scheme__preview-img-wrap">
                      <img src="./img/catalogue-scheme4.jpg" alt="scheme" class="catalogue-scheme__preview-img">
                    </div>
                    <span class="catalogue-scheme__preview-name">Case</span>
                </a>  

              </div>
            </div>

            <div class="detailed-scheme">
              <div class="detailed-scheme__touch-area">
                  <div class="detailed-scheme__img-wrap">
                      <img src="./img/detailed-scheme-template.jpg" alt="detailed-scheme" class="detailed-scheme__img">
                  </div>
                  <a href="#detail-20" class="detailed-scheme__point-element" style="left: 47%; top: 49%">20</a>
                  <a href="#detail-902" class="detailed-scheme__point-element" style="left: 19%; top: 0%">902</a>
                  <a href="#detail-61" class="detailed-scheme__point-element" style="left: 32%; top: 0%">61</a>
                  <a href="#detail-3140" class="detailed-scheme__point-element" style="left: 66.5%; top: 0%">3140</a>
              </div>

              <div id="detail-20" class="detailed-scheme__target">
                <span class="detailed-scheme__target-num">20</span>
              </div>
              
                <div class="product product--head">
                    <div class="product__row">
                      <div class="product__photo">
                        <span class="product__head">Фото</span>
                      </div>
                      <div class="product__article">
                        <span class="product__head">Артикул</span>
                      </div>
                      <div class="product__name">
                        <span class="product__head">Название</span>
                      </div>
                      <div class="product__producer">
                        <span class="product__head">Производитель</span>
                      </div>
                      <div class="product__tech-number">
                        <span class="product__head">Тех. номер</span>
                      </div>
                      <div class="product__availability">
                        <span class="product__head">Наличие</span>
                      </div>
                      <div class="product__amount">
                        <span class="product__head">Количество</span>
                      </div>
                      <div class="product__to-cart"></div>
                    </div>
                </div>

                <div class="product">
                    <div class="product__row">
                      <div class="product__photo">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>
                      <div class="product__article">46800B</div>
                      <div class="product__name">Масляный фильтр</div>
                      <div class="product__producer">AFTERMARKET</div>
                      <div class="product__tech-number">57010E</div>
                      <div class="product__availability">
                        <span class="product__available">В наличии</span>
                      </div>
                      <div class="product__amount">
                        <div class="field-num  field-num--bg-tran">
                          <span class="field-num__input-wrap">
                            <button class="field-num__btn-minus" type="button">-</button>
                            <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                            <button class="field-num__btn-plus" type="button">+</button>
                          </span>
                        </div>
                      </div>
                      <div class="product__to-cart">
                        <button class="btn product__btn">В корзину</button>
                      </div>
                    </div>
  
                    <div class="product__mobile">
                      <div class="product__mobile-img">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>
  
                      <div class="product__mobile-wrap">
                        <div class="product__mobile-item product__mobile-item--lg">
                          <div class="product__mobile-name">
                            Артикул:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Название:
                            <span class="product__name">Масляный фильтр</span>
                          </div>
                          <div class="flex-wrap">
                            <div class="product__availability">
                              <span class="product__available">В наличии</span>
                            </div>
                            <div class="product__amount">
                              <div class="field-num  field-num--bg-tran">
                                <span class="field-num__input-wrap">
                                  <button class="field-num__btn-minus" type="button">-</button>
                                  <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                                  <button class="field-num__btn-plus" type="button">+</button>
                                </span>
                              </div>
                            </div>
  
                          </div>
                        </div>
  
                        <div class="product__mobile-item">
                          <div class="product__mobile-name">
                            Производитель:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Тех. номер:
                            <span class="product__tech-number">57010E</span>
                          </div>
                          <div class="product__to-cart">
                            <button class="btn product__btn product__btn--added">В корзину</button>
                          </div>
                        </div>
  
                      </div>
                    </div>
                </div>

                <div class="product">
                  <div class="product__row">
                    <div class="product__photo">
                      <img src="./img/transmition-photo.jpg" alt="transmition photo">
                    </div>
                    <div class="product__article">46800B</div>
                    <div class="product__name">Масляный фильтр</div>
                    <div class="product__producer">AFTERMARKET</div>
                    <div class="product__tech-number">57010E</div>
                    <div class="product__availability">
                      <span class="product__available">В наличии</span>
                    </div>
                    <div class="product__amount">
                      <div class="field-num  field-num--bg-tran">
                        <span class="field-num__input-wrap">
                          <button class="field-num__btn-minus" type="button">-</button>
                          <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                          <button class="field-num__btn-plus" type="button">+</button>
                        </span>
                      </div>
                    </div>
                    <div class="product__to-cart">
                      <button class="btn product__btn">В корзину</button>
                    </div>
                  </div>

                  <div class="product__mobile">
                    <div class="product__mobile-img">
                      <img src="./img/transmition-photo.jpg" alt="transmition photo">
                    </div>

                    <div class="product__mobile-wrap">
                      <div class="product__mobile-item product__mobile-item--lg">
                        <div class="product__mobile-name">
                          Артикул:
                          <span class="product__article">46800B</span>
                        </div>
                        <div class="product__mobile-name">
                          Название:
                          <span class="product__name">Масляный фильтр</span>
                        </div>
                        <div class="flex-wrap">
                          <div class="product__availability">
                            <span class="product__available">В наличии</span>
                          </div>
                          <div class="product__amount">
                            <div class="field-num  field-num--bg-tran">
                              <span class="field-num__input-wrap">
                                <button class="field-num__btn-minus" type="button">-</button>
                                <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                                <button class="field-num__btn-plus" type="button">+</button>
                              </span>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="product__mobile-item">
                        <div class="product__mobile-name">
                          Производитель:
                          <span class="product__article">46800B</span>
                        </div>
                        <div class="product__mobile-name">
                          Тех. номер:
                          <span class="product__tech-number">57010E</span>
                        </div>
                        <div class="product__to-cart">
                          <button class="btn product__btn product__btn--added">В корзину</button>
                        </div>
                      </div>

                    </div>
                  </div>
              </div>

              {# one more item #}
              
              <div class="detailed-scheme__target">
                <span id="detail-61" class="detailed-scheme__target-num">61</span>
              </div>
              
                <div class="product product--head">
                    <div class="product__row">
                      <div class="product__photo">
                        <span class="product__head">Фото</span>
                      </div>
                      <div class="product__article">
                        <span class="product__head">Артикул</span>
                      </div>
                      <div class="product__name">
                        <span class="product__head">Название</span>
                      </div>
                      <div class="product__producer">
                        <span class="product__head">Производитель</span>
                      </div>
                      <div class="product__tech-number">
                        <span class="product__head">Тех. номер</span>
                      </div>
                      <div class="product__availability">
                        <span class="product__head">Наличие</span>
                      </div>
                      <div class="product__amount">
                        <span class="product__head">Количество</span>
                      </div>
                      <div class="product__to-cart"></div>
                    </div>
                </div>

                <div class="product">
                    <div class="product__row">
                      <div class="product__photo">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>
                      <div class="product__article">46800B</div>
                      <div class="product__name">Масляный фильтр</div>
                      <div class="product__producer">AFTERMARKET</div>
                      <div class="product__tech-number">57010E</div>
                      <div class="product__availability">
                        <span class="product__available">В наличии</span>
                      </div>
                      <div class="product__amount">
                        <div class="field-num  field-num--bg-tran">
                          <span class="field-num__input-wrap">
                            <button class="field-num__btn-minus" type="button">-</button>
                            <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                            <button class="field-num__btn-plus" type="button">+</button>
                          </span>
                        </div>
                      </div>
                      <div class="product__to-cart">
                        <button class="btn product__btn">В корзину</button>
                      </div>
                    </div>
  
                    <div class="product__mobile">
                      <div class="product__mobile-img">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>
  
                      <div class="product__mobile-wrap">
                        <div class="product__mobile-item product__mobile-item--lg">
                          <div class="product__mobile-name">
                            Артикул:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Название:
                            <span class="product__name">Масляный фильтр</span>
                          </div>
                          <div class="flex-wrap">
                            <div class="product__availability">
                              <span class="product__available">В наличии</span>
                            </div>
                            <div class="product__amount">
                              <div class="field-num  field-num--bg-tran">
                                <span class="field-num__input-wrap">
                                  <button class="field-num__btn-minus" type="button">-</button>
                                  <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                                  <button class="field-num__btn-plus" type="button">+</button>
                                </span>
                              </div>
                            </div>
  
                          </div>
                        </div>
  
                        <div class="product__mobile-item">
                          <div class="product__mobile-name">
                            Производитель:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Тех. номер:
                            <span class="product__tech-number">57010E</span>
                          </div>
                          <div class="product__to-cart">
                            <button class="btn product__btn product__btn--added">В корзину</button>
                          </div>
                        </div>
  
                      </div>
                    </div>
                </div>

                <div class="product">
                  <div class="product__row">
                    <div class="product__photo">
                      <img src="./img/transmition-photo.jpg" alt="transmition photo">
                    </div>
                    <div class="product__article">46800B</div>
                    <div class="product__name">Масляный фильтр</div>
                    <div class="product__producer">AFTERMARKET</div>
                    <div class="product__tech-number">57010E</div>
                    <div class="product__availability">
                      <span class="product__available">В наличии</span>
                    </div>
                    <div class="product__amount">
                      <div class="field-num  field-num--bg-tran">
                        <span class="field-num__input-wrap">
                          <button class="field-num__btn-minus" type="button">-</button>
                          <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                          <button class="field-num__btn-plus" type="button">+</button>
                        </span>
                      </div>
                    </div>
                    <div class="product__to-cart">
                      <button class="btn product__btn">В корзину</button>
                    </div>
                  </div>

                  <div class="product__mobile">
                    <div class="product__mobile-img">
                      <img src="./img/transmition-photo.jpg" alt="transmition photo">
                    </div>

                    <div class="product__mobile-wrap">
                      <div class="product__mobile-item product__mobile-item--lg">
                        <div class="product__mobile-name">
                          Артикул:
                          <span class="product__article">46800B</span>
                        </div>
                        <div class="product__mobile-name">
                          Название:
                          <span class="product__name">Масляный фильтр</span>
                        </div>
                        <div class="flex-wrap">
                          <div class="product__availability">
                            <span class="product__available">В наличии</span>
                          </div>
                          <div class="product__amount">
                            <div class="field-num  field-num--bg-tran">
                              <span class="field-num__input-wrap">
                                <button class="field-num__btn-minus" type="button">-</button>
                                <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                                <button class="field-num__btn-plus" type="button">+</button>
                              </span>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="product__mobile-item">
                        <div class="product__mobile-name">
                          Производитель:
                          <span class="product__article">46800B</span>
                        </div>
                        <div class="product__mobile-name">
                          Тех. номер:
                          <span class="product__tech-number">57010E</span>
                        </div>
                        <div class="product__to-cart">
                          <button class="btn product__btn product__btn--added">В корзину</button>
                        </div>
                      </div>

                    </div>
                  </div>
              </div>

              <div class="detailed-scheme__target">
                <span id="detail-902" class="detailed-scheme__target-num">902</span>
              </div>
              
                <div class="product product--head">
                    <div class="product__row">
                      <div class="product__photo">
                        <span class="product__head">Фото</span>
                      </div>
                      <div class="product__article">
                        <span class="product__head">Артикул</span>
                      </div>
                      <div class="product__name">
                        <span class="product__head">Название</span>
                      </div>
                      <div class="product__producer">
                        <span class="product__head">Производитель</span>
                      </div>
                      <div class="product__tech-number">
                        <span class="product__head">Тех. номер</span>
                      </div>
                      <div class="product__availability">
                        <span class="product__head">Наличие</span>
                      </div>
                      <div class="product__amount">
                        <span class="product__head">Количество</span>
                      </div>
                      <div class="product__to-cart"></div>
                    </div>
                </div>

                <div class="product">
                    <div class="product__row">
                      <div class="product__photo">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>
                      <div class="product__article">46800B</div>
                      <div class="product__name">Масляный фильтр</div>
                      <div class="product__producer">AFTERMARKET</div>
                      <div class="product__tech-number">57010E</div>
                      <div class="product__availability">
                        <span class="product__available">В наличии</span>
                      </div>
                      <div class="product__amount">
                        <div class="field-num  field-num--bg-tran">
                          <span class="field-num__input-wrap">
                            <button class="field-num__btn-minus" type="button">-</button>
                            <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                            <button class="field-num__btn-plus" type="button">+</button>
                          </span>
                        </div>
                      </div>
                      <div class="product__to-cart">
                        <button class="btn product__btn">В корзину</button>
                      </div>
                    </div>
  
                    <div class="product__mobile">
                      <div class="product__mobile-img">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>
  
                      <div class="product__mobile-wrap">
                        <div class="product__mobile-item product__mobile-item--lg">
                          <div class="product__mobile-name">
                            Артикул:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Название:
                            <span class="product__name">Масляный фильтр</span>
                          </div>
                          <div class="flex-wrap">
                            <div class="product__availability">
                              <span class="product__available">В наличии</span>
                            </div>
                            <div class="product__amount">
                              <div class="field-num  field-num--bg-tran">
                                <span class="field-num__input-wrap">
                                  <button class="field-num__btn-minus" type="button">-</button>
                                  <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                                  <button class="field-num__btn-plus" type="button">+</button>
                                </span>
                              </div>
                            </div>
  
                          </div>
                        </div>
  
                        <div class="product__mobile-item">
                          <div class="product__mobile-name">
                            Производитель:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Тех. номер:
                            <span class="product__tech-number">57010E</span>
                          </div>
                          <div class="product__to-cart">
                            <button class="btn product__btn product__btn--added">В корзину</button>
                          </div>
                        </div>
  
                      </div>
                    </div>
                </div>

                <div class="product">
                  <div class="product__row">
                    <div class="product__photo">
                      <img src="./img/transmition-photo.jpg" alt="transmition photo">
                    </div>
                    <div class="product__article">46800B</div>
                    <div class="product__name">Масляный фильтр</div>
                    <div class="product__producer">AFTERMARKET</div>
                    <div class="product__tech-number">57010E</div>
                    <div class="product__availability">
                      <span class="product__available">В наличии</span>
                    </div>
                    <div class="product__amount">
                      <div class="field-num  field-num--bg-tran">
                        <span class="field-num__input-wrap">
                          <button class="field-num__btn-minus" type="button">-</button>
                          <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                          <button class="field-num__btn-plus" type="button">+</button>
                        </span>
                      </div>
                    </div>
                    <div class="product__to-cart">
                      <button class="btn product__btn">В корзину</button>
                    </div>
                  </div>

                  <div class="product__mobile">
                    <div class="product__mobile-img">
                      <img src="./img/transmition-photo.jpg" alt="transmition photo">
                    </div>

                    <div class="product__mobile-wrap">
                      <div class="product__mobile-item product__mobile-item--lg">
                        <div class="product__mobile-name">
                          Артикул:
                          <span class="product__article">46800B</span>
                        </div>
                        <div class="product__mobile-name">
                          Название:
                          <span class="product__name">Масляный фильтр</span>
                        </div>
                        <div class="flex-wrap">
                          <div class="product__availability">
                            <span class="product__available">В наличии</span>
                          </div>
                          <div class="product__amount">
                            <div class="field-num  field-num--bg-tran">
                              <span class="field-num__input-wrap">
                                <button class="field-num__btn-minus" type="button">-</button>
                                <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                                <button class="field-num__btn-plus" type="button">+</button>
                              </span>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="product__mobile-item">
                        <div class="product__mobile-name">
                          Производитель:
                          <span class="product__article">46800B</span>
                        </div>
                        <div class="product__mobile-name">
                          Тех. номер:
                          <span class="product__tech-number">57010E</span>
                        </div>
                        <div class="product__to-cart">
                          <button class="btn product__btn product__btn--added">В корзину</button>
                        </div>
                      </div>

                    </div>
                  </div>
              </div>


              <div class="detailed-scheme__target">
                <span id="detail-3140" class="detailed-scheme__target-num">3140</span>
              </div>
              
                <div class="product product--head">
                    <div class="product__row">
                      <div class="product__photo">
                        <span class="product__head">Фото</span>
                      </div>
                      <div class="product__article">
                        <span class="product__head">Артикул</span>
                      </div>
                      <div class="product__name">
                        <span class="product__head">Название</span>
                      </div>
                      <div class="product__producer">
                        <span class="product__head">Производитель</span>
                      </div>
                      <div class="product__tech-number">
                        <span class="product__head">Тех. номер</span>
                      </div>
                      <div class="product__availability">
                        <span class="product__head">Наличие</span>
                      </div>
                      <div class="product__amount">
                        <span class="product__head">Количество</span>
                      </div>
                      <div class="product__to-cart"></div>
                    </div>
                </div>

                <div class="product">
                    <div class="product__row">
                      <div class="product__photo">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>
                      <div class="product__article">46800B</div>
                      <div class="product__name">Масляный фильтр</div>
                      <div class="product__producer">AFTERMARKET</div>
                      <div class="product__tech-number">57010E</div>
                      <div class="product__availability">
                        <span class="product__available">В наличии</span>
                      </div>
                      <div class="product__amount">
                        <div class="field-num  field-num--bg-tran">
                          <span class="field-num__input-wrap">
                            <button class="field-num__btn-minus" type="button">-</button>
                            <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                            <button class="field-num__btn-plus" type="button">+</button>
                          </span>
                        </div>
                      </div>
                      <div class="product__to-cart">
                        <button class="btn product__btn">В корзину</button>
                      </div>
                    </div>
  
                    <div class="product__mobile">
                      <div class="product__mobile-img">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>
  
                      <div class="product__mobile-wrap">
                        <div class="product__mobile-item product__mobile-item--lg">
                          <div class="product__mobile-name">
                            Артикул:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Название:
                            <span class="product__name">Масляный фильтр</span>
                          </div>
                          <div class="flex-wrap">
                            <div class="product__availability">
                              <span class="product__available">В наличии</span>
                            </div>
                            <div class="product__amount">
                              <div class="field-num  field-num--bg-tran">
                                <span class="field-num__input-wrap">
                                  <button class="field-num__btn-minus" type="button">-</button>
                                  <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                                  <button class="field-num__btn-plus" type="button">+</button>
                                </span>
                              </div>
                            </div>
  
                          </div>
                        </div>
  
                        <div class="product__mobile-item">
                          <div class="product__mobile-name">
                            Производитель:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Тех. номер:
                            <span class="product__tech-number">57010E</span>
                          </div>
                          <div class="product__to-cart">
                            <button class="btn product__btn product__btn--added">В корзину</button>
                          </div>
                        </div>
  
                      </div>
                    </div>
                </div>

                <div class="product">
                  <div class="product__row">
                    <div class="product__photo">
                      <img src="./img/transmition-photo.jpg" alt="transmition photo">
                    </div>
                    <div class="product__article">46800B</div>
                    <div class="product__name">Масляный фильтр</div>
                    <div class="product__producer">AFTERMARKET</div>
                    <div class="product__tech-number">57010E</div>
                    <div class="product__availability">
                      <span class="product__available">В наличии</span>
                    </div>
                    <div class="product__amount">
                      <div class="field-num  field-num--bg-tran">
                        <span class="field-num__input-wrap">
                          <button class="field-num__btn-minus" type="button">-</button>
                          <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                          <button class="field-num__btn-plus" type="button">+</button>
                        </span>
                      </div>
                    </div>
                    <div class="product__to-cart">
                      <button class="btn product__btn">В корзину</button>
                    </div>
                  </div>

                  <div class="product__mobile">
                    <div class="product__mobile-img">
                      <img src="./img/transmition-photo.jpg" alt="transmition photo">
                    </div>

                    <div class="product__mobile-wrap">
                      <div class="product__mobile-item product__mobile-item--lg">
                        <div class="product__mobile-name">
                          Артикул:
                          <span class="product__article">46800B</span>
                        </div>
                        <div class="product__mobile-name">
                          Название:
                          <span class="product__name">Масляный фильтр</span>
                        </div>
                        <div class="flex-wrap">
                          <div class="product__availability">
                            <span class="product__available">В наличии</span>
                          </div>
                          <div class="product__amount">
                            <div class="field-num  field-num--bg-tran">
                              <span class="field-num__input-wrap">
                                <button class="field-num__btn-minus" type="button">-</button>
                                <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                                <button class="field-num__btn-plus" type="button">+</button>
                              </span>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="product__mobile-item">
                        <div class="product__mobile-name">
                          Производитель:
                          <span class="product__article">46800B</span>
                        </div>
                        <div class="product__mobile-name">
                          Тех. номер:
                          <span class="product__tech-number">57010E</span>
                        </div>
                        <div class="product__to-cart">
                          <button class="btn product__btn product__btn--added">В корзину</button>
                        </div>
                      </div>

                    </div>
                  </div>
              </div>


            </div>
          </section>

           

    {# modal detailed #}
      <div class="modal modal--grey product-detailed-modal" id="modal-detailed" tabindex="-1" role="dialog">
        <div class="modal__dialog" role="document">
          <div class="modal__content modal__content--grey">
            <div class="modal__header">
              <span class="close modal__close" data-dismiss="modal" aria-label="Закрыть">
                <span></span>
              </span>
            </div>
            <div class="modal__body">
              <div class="product-detailed">
                <div class="grid grid--horizontalCenter">
                  <div class="grid__col grid__col--tablet-6">
                    <div class="product-detailed__img-wrap">
                      <img src="./img/detail-detailed.png" alt="detailed" class="product-detailed__img">
                    </div>
                  </div>
                  <div class="grid__col grid__col--tablet-6">
                    <div class="product-detailed__type">
                      Трансмиссия: 02E, DQ250 (DSG)</div>
                    <h2 class="product-detailed__title">Масляный фильтр</h2>
                    <div class="product-detailed__availability">В наличии</div>
                    <ul class="product-detailed__descr">
                      <li>Артикул: 40710XA</li>
                      <li>Part number: 170500A</li>
                      <li>Наименование: Прокладка поддона</li>
                      <li>Производитель: PRECISION
                      </li>
                    </ul>
                    <div class="flex-wrap">
                      <div class="field-num  field-num--bg-tran">
                        <span class="field-num__input-wrap">
                          <button class="field-num__btn-minus" type="button">-</button>
                          <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                          <button class="field-num__btn-plus" type="button">+</button>
                        </span>
                      </div>
                      {% include "../components/btn/btn.twig" with {
                          add_classes: "product-detailed__btn",
                          text: "В корзину",
                      } %}
                    </div>
                  </div>
                </div>
                <div class="grid grid--horizontalCenter">
                  <div class="grid__col grid__col--tablet-4">
                    <div class="advantege">
                      <div
                        class="advantege__icon">
                         <img src="./img/garanty.png" alt="delivery icon">
                        </div>
                      <h5 class="advantege__title">Гарантия</h5>
                      <p class="advantege__descr">В течении 30 дней с момента покупки действует гарантия</p>
                    </div>
                  </div>
                  <div class="grid__col grid__col--tablet-4">
                    <div class="advantege advantege--has-borders">
                      <div
                        class="advantege__icon">
                        <img src="./img/payment.png" alt="delivery icon">
                      </div>
                      <h5 class="advantege__title">Гарантия</h5>
                      <p class="advantege__descr">В течении 30 дней с момента покупки действует гарантия</p>
                    </div>
                  </div>
                  <div class="grid__col grid__col--tablet-4">
                    <div class="advantege">
                      <div
                        class="advantege__icon">
                          <img src="./img/delivery.png" alt="delivery icon">
                      </div>
                      <h5 class="advantege__title">Гарантия</h5>
                      <p class="advantege__descr">В течении 30 дней с момента покупки действует гарантия</p>
                    </div>
                  </div>
                </div>
                <div class="product-detailed__analogue">
                  <h2 class="product-detailed__analogue-title">Аналоги</h2>
                  <div class="product-detailed__analogue-inner">
                  
                  <div class="product product--theme-transparent">
                    <div class="product__row">
                      <div class="product__photo">
                        <span class="product__head">Фото</span>
                      </div>
                      <div class="product__article">
                        <span class="product__head">Артикул</span>
                      </div>
                      <div class="product__name">
                        <span class="product__head">Название</span>
                      </div>
                      <div class="product__producer">
                        <span class="product__head">Производитель</span>
                      </div>
                      <div class="product__tech-number">
                        <span class="product__head">Тех. номер</span>
                      </div>
                      <div class="product__availability">
                        <span class="product__head">Наличие</span>
                      </div>
                    </div>
                  </div>

                  <div class="product product--bd-grey">
                    <div class="product__row">
                      <div class="product__photo">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>
                      <div class="product__article">46800B</div>
                      <div class="product__name">Масляный фильтр</div>
                      <div class="product__producer">AFTERMARKET</div>
                      <div class="product__tech-number">57010E</div>
                      <div class="product__availability">
                        <span class="product__available">В наличии</span>
                      </div>
                    </div>

                    <div class="product__mobile">
                      <div class="product__mobile-img">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>

                      <div class="product__mobile-wrap">
                        <div class="product__mobile-item product__mobile-item--lg">
                          <div class="product__mobile-name">
                            Артикул:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Название:
                            <span class="product__name">Масляный фильтр</span>
                          </div>
                          <div class="flex-wrap">
                            <div class="product__availability">
                              <span class="product__available">В наличии</span>
                            </div>
                            <div class="product__amount">
                              <div class="field-num  field-num--bg-tran">
                                <span class="field-num__input-wrap">
                                  <button class="field-num__btn-minus" type="button">-</button>
                                  <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                                  <button class="field-num__btn-plus" type="button">+</button>
                                </span>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div class="product__mobile-item">
                          <div class="product__mobile-name">
                            Производитель:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Тех. номер:
                            <span class="product__tech-number">57010E</span>
                          </div>
                          <div class="product__to-cart">
                            <button class="btn product__btn">В корзину</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="product product--bd-grey">
                    <div class="product__row">
                      <div class="product__photo">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>
                      <div class="product__article">46800B</div>
                      <div class="product__name">Масляный фильтр</div>
                      <div class="product__producer">AFTERMARKET</div>
                      <div class="product__tech-number">57010E</div>
                      <div class="product__availability">
                        <span class="product__available">В наличии</span>
                      </div>
                    </div>

                    <div class="product__mobile">
                      <div class="product__mobile-img">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>

                      <div class="product__mobile-wrap">
                        <div class="product__mobile-item product__mobile-item--lg">
                          <div class="product__mobile-name">
                            Артикул:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Название:
                            <span class="product__name">Масляный фильтр</span>
                          </div>
                          <div class="flex-wrap">
                            <div class="product__availability">
                              <span class="product__available">В наличии</span>
                            </div>
                            <div class="product__amount">
                              <div class="field-num  field-num--bg-tran">
                                <span class="field-num__input-wrap">
                                  <button class="field-num__btn-minus" type="button">-</button>
                                  <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                                  <button class="field-num__btn-plus" type="button">+</button>
                                </span>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div class="product__mobile-item">
                          <div class="product__mobile-name">
                            Производитель:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Тех. номер:
                            <span class="product__tech-number">57010E</span>
                          </div>
                          <div class="product__to-cart">
                            <button class="btn product__btn">В корзину</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="product product--bd-grey">
                    <div class="product__row">
                      <div class="product__photo">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>
                      <div class="product__article">46800B</div>
                      <div class="product__name">Масляный фильтр</div>
                      <div class="product__producer">AFTERMARKET</div>
                      <div class="product__tech-number">57010E</div>
                      <div class="product__availability">
                        <span class="product__available">В наличии</span>
                      </div>
                    </div>

                    <div class="product__mobile">
                      <div class="product__mobile-img">
                        <img src="./img/transmition-photo.jpg" alt="transmition photo">
                      </div>

                      <div class="product__mobile-wrap">
                        <div class="product__mobile-item product__mobile-item--lg">
                          <div class="product__mobile-name">
                            Артикул:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Название:
                            <span class="product__name">Масляный фильтр</span>
                          </div>
                          <div class="flex-wrap">
                            <div class="product__availability">
                              <span class="product__available">В наличии</span>
                            </div>
                            <div class="product__amount">
                              <div class="field-num  field-num--bg-tran">
                                <span class="field-num__input-wrap">
                                  <button class="field-num__btn-minus" type="button">-</button>
                                  <input class="field-num__input" type="number" value="0" step="1" min="1"/>
                                  <button class="field-num__btn-plus" type="button">+</button>
                                </span>
                              </div>
                            </div>

                          </div>
                        </div>

                        <div class="product__mobile-item">
                          <div class="product__mobile-name">
                            Производитель:
                            <span class="product__article">46800B</span>
                          </div>
                          <div class="product__mobile-name">
                            Тех. номер:
                            <span class="product__tech-number">57010E</span>
                          </div>
                          <div class="product__to-cart">
                            <button class="btn product__btn">В корзину</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
	</div>
</main>


      {% include '../blocks/footer/footer.twig' %}