<!doctype html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>404</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	 {% include '../blocks/header/main_header.twig' %}



	<main class="main">
		<div class="main__container">
			<div class="main__content">
        <div class="garanty">
          <h1 class="garanty__title">Гарантия</h1>
          <div class="garanty__content">
            <h2>Для осуществления гарантийных обязательств необходимо иметь:</h2>
              <ul>
                  <li>документ , подтверждающий покупку (товарная накладная)</li>
                  <li>полная комплектация товара</li>
              </ul>

              <h2>Гарантия НЕ распространяется , если:</h2>
              <ul>
                  <li>имеются следы механического повреждения или вскрытия</li>
                  <li>нарушены заводские пломбы</li>
                  <li>нарушены условия эксплуатации , транспортировки или хранения</li>
                  <li>проводился ремонт лицами , не являющимися сотрудниками
                      авторизованного сервисного центра</li>
              </ul>
              <p>Обращаем Ваше внимание на то что при получении заказа на нашем складе , 
                покупатель в присутствии представителя компании , обязан проверить количество,
                 комплектацию и внешний вид изделия , на предмет отсутствия физических
                  дефектов (царапин , трещин , сколов и т.п.) . В дальнейшем претензии 
                  не принимаются.Изделия содержащие электронные и электрические компоненты,
                  детали с нарушенной заводской упаковкой а также детали бывшие в употребление,
                  обмену и возврату не подлежат.Обмен и возврат товара осуществляется в течении пятнадцати рабочих дней.</p>
          </div>
        </div>
			</div>
		</div>
	</main>

	{% include '../blocks/footer/footer.twig' %}

