<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Каталог</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include '../blocks/header/main_header.twig' %}

  <main class="main">
    <div class="main__container">
      <div class="main__content">
        <a href="" class="сome-back">
          Назад
        </a>

        <div class="model-row__header">
          <h1 class="model-row__title">Модельный ряд: PEUGEOT</h1>
          <div class="model-row__logo-wrap">
            <img src="./img/peugeot-logo.png" alt="" class="model-row__logo">
          </div>
        </div>
        
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th>Модель</th>
                <th>Год выпуска</th>
                <th>Тип трансмиссии </th>
                <th>Двигатель </th>
                <th>Трансмиссия</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
              <tr class="border-around">
                 <td>B-CUV</td>
                 <td>2015</td>
                 <td>6 SP FWD</td>
                 <td>L4 1.6L</td>
                 <td class="th--highlighted">TF-70SC</td>
              </tr>

              <tr class="border-around">
                <td>B-CUV</td>
                <td>2015</td>
                <td>6 SP FWD</td>
                <td>L4 1.6L</td>
                <td class="th--highlighted">TF-70SC</td>
              </tr>

              <tr class="border-around">
                <td>B-CUV</td>
                <td>2015</td>
                <td>6 SP FWD 6 FWD</td>
                <td>L4 1.6L</td>
                <td class="th--highlighted">TF-70SC</td>
              </tr>

              <tr class="border-around">
                <td>B-CUV</td>
                <td>2015</td>
                <td>6 SP FWD</td>
                <td>L4 1.6L</td>
                <td class="th--highlighted">TF-70SC</td>
              </tr>

              <tr class="border-around">
                <td>B-CUV</td>
                <td>2015</td>
                <td>6 SP FWD</td>
                <td>L4 1.6L</td>
                <td class="th--highlighted">TF-70SC</td>
              </tr>

              <tr class="border-around">
                <td>B-CUV</td>
                <td>2015</td>
                <td>6 SP FWD</td>
                <td>L4 1.6L</td>
                <td class="th--highlighted">TF-70SC</td>
              </tr>

              <tr class="border-around">
                <td>B-CUV</td>
                <td>2015</td>
                <td>6 SP FWD</td>
                <td>L4 1.6L</td>
                <td class="th--highlighted">TF-70SC</td>
              </tr>

              <tr class="border-around">
                <td>B-CUV</td>
                <td>2015</td>
                <td>6 SP FWD</td>
                <td>L4 1.6L</td>
                <td class="th--highlighted">TF-70SC</td>
              </tr>

              <tr class="border-around">
                <td>B-CUV</td>
                <td>2015</td>
                <td>6 SP FWD</td>
                <td>L4 1.6L</td>
                <td class="th--highlighted">TF-70SC</td>
              </tr>
             
            </tbody>
          </table>
        </div>

        <div class="model-row-mobile">
            <div class="model-row-mobile__item">
              <div class="model-row-mobile__left">
                <span class="model-row-mobile__name">Модель:</span>
                <span class="model-row-mobile__name">Год выпуска:</span>
                <span class="model-row-mobile__name">Тип трансмиссии:</span>
                <span class="model-row-mobile__name">Двигатель:</span>
                <span class="model-row-mobile__name model-row-mobile__name--bottom">Трансмиссия:</span>
              </div>
              <div class="model-row-mobile__right">
                  <span class="model-row-mobile__info">B-CUV</span>
                  <span class="model-row-mobile__info">2015</span>
                  <span class="model-row-mobile__info">6 SP FWD</span>
                  <span class="model-row-mobile__info">L4 1.6L</span>
                  <span class="model-row-mobile__info  model-row-mobile__info--orange model-row-mobile__info--bottom">TF-70SC ></span>
              </div>
            </div>

            <div class="model-row-mobile__item">
                <div class="model-row-mobile__left">
                  <span class="model-row-mobile__name">Модель:</span>
                  <span class="model-row-mobile__name">Год выпуска:</span>
                  <span class="model-row-mobile__name">Тип трансмиссии:</span>
                  <span class="model-row-mobile__name">Двигатель:</span>
                  <span class="model-row-mobile__name model-row-mobile__name--bottom">Трансмиссия:</span>
                </div>
                <div class="model-row-mobile__right">
                    <span class="model-row-mobile__info">B-CUV</span>
                    <span class="model-row-mobile__info">2015</span>
                    <span class="model-row-mobile__info">6 SP FWD</span>
                    <span class="model-row-mobile__info">L4 1.6L</span>
                    <span class="model-row-mobile__info  model-row-mobile__info--orange model-row-mobile__info--bottom">TF-70SC ></span>
                </div>
              </div>

              <div class="model-row-mobile__item">
                  <div class="model-row-mobile__left">
                    <span class="model-row-mobile__name">Модель:</span>
                    <span class="model-row-mobile__name">Год выпуска:</span>
                    <span class="model-row-mobile__name">Тип трансмиссии:</span>
                    <span class="model-row-mobile__name">Двигатель:</span>
                    <span class="model-row-mobile__name model-row-mobile__name--bottom">Трансмиссия:</span>
                  </div>
                  <div class="model-row-mobile__right">
                      <span class="model-row-mobile__info">B-CUV</span>
                      <span class="model-row-mobile__info">2015</span>
                      <span class="model-row-mobile__info">6 SP FWD</span>
                      <span class="model-row-mobile__info">L4 1.6L</span>
                      <span class="model-row-mobile__info model-row-mobile__info--orange model-row-mobile__info--bottom">TF-70SC ></span>
                  </div>
                </div>
        </div>

      </div>
      </div>
  </main>

        {% include '../blocks/footer/footer.twig' %}