<!doctype html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Каталог</title>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {% include '../blocks/header/main_header.twig' %}

  <main class="main">
    <div class="main__container">
      <div class="main__content">
        <a href="" class="сome-back">
          Назад
        </a>
        <section class="model-row">
          <div class="model-row__header">
            <h1 class="model-row__title">Модельный ряд: PEUGEOT</h1>
            <div class="model-row__logo-wrap">
              <img src="./img/peugeot-logo.png" alt="" class="model-row__logo">
            </div>
          </div>

          <div class="model-row__table">
            <div class="model-row__table-head">
              <div class="model-row__table-col">
                <span>Модель</span>
              </div>

              <div class="model-row__table-col">
                <span>Год выпуска</span>
              </div>

              <div class="model-row__table-col">
                <span>Тип трансмиссии </span>
              </div>

              <div class="model-row__table-col">
                <span>Двигатель</span>
              </div>

              <div class="model-row__table-col">
                <span>Трансмиссия</span>
              </div>
            </div>

            <div class="model-row__table-body">

              <div class="model-row__table-col">
                <ul class="model-row__list">
                  <li class="model-row__list-item">
                    <a href="" class="model-row__list-link">B-CUV</a>
                  </li>
                  <li class="model-row__list-item">
                    <a href="" class="model-row__list-link">B-CUV</a>
                  </li>
                  <li class="model-row__list-item">
                    <a href="" class="model-row__list-link">B-CUV</a>
                  </li>
                  <li class="model-row__list-item">
                    <a href="" class="model-row__list-link">B-CUV</a>
                  </li>
                  <li class="model-row__list-item">
                    <a href="" class="model-row__list-link">B-CUV</a>
                  </li>
                  <li class="model-row__list-item">
                    <a href="" class="model-row__list-link">B-CUV</a>
                  </li>
                  <li class="model-row__list-item">
                    <a href="" class="model-row__list-link">B-CUV</a>
                  </li>
                  <li class="model-row__list-item">
                    <a href="" class="model-row__list-link">B-CUV</a>
                  </li>
                  <li class="model-row__list-item">
                    <a href="" class="model-row__list-link">B-CUV</a>
                  </li>
                  <li class="model-row__list-item">
                    <a href="" class="model-row__list-link">B-CUV</a>
                  </li>
                  <li class="model-row__list-item">
                    <a href="" class="model-row__list-link">B-CUV</a>
                  </li>
                </ul>
              </div>

              <div class="model-row__table-col">
                  <ul class="model-row__list">
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                    </ul>
              </div>

              <div class="model-row__table-col">
                  <ul class="model-row__list">
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                    </ul>
              </div>

              <div class="model-row__table-col">
                  <ul class="model-row__list">
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                    </ul>
              </div>

              <div class="model-row__table-col">
                  <ul class="model-row__list">
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                      <li class="model-row__list-item">
                        <a href="" class="model-row__list-link">B-CUV</a>
                      </li>
                    </ul>
              </div>

            </div>
          </div>
        </section>


        {% include '../blocks/footer/footer.twig' %}