.cart {

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 30px;
  }

  &__title {
    display: block;
    color: #2d2a2a;
    margin: 0;
    font-size: 3.2rem;
    font-weight: bold;
  }

  &__clear-all {
    cursor: pointer;
    display: block;
    color: rgba(67, 63, 63, 0.685);
    font-size: 1.4rem;
    text-decoration: underline;
  }

  &__order {
    background: $colorBackground;
  }

  &-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 15px;

    &__wrap {
      -ms-flex-preferred-size: calc(33.33333% - 15px);
      flex-basis: calc(33.33333% - 15px);
      max-width: calc(33.33333% - 15px);
    }

    &__btn {
      height: auto;
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 0.25px;
      padding: 10px;
      border-radius: 7px;
      background-color: #f69b2a;
    }

    &__input {
      height: 50px;
      border: none;
      border-radius: 3px;
      background-color: #ffffff;
    }
  }
}