<div class="grid__col grid__col--desktopSmall-4 grid__col--tablet-6">
  <article class="news-list__card">
    <div class="news-list__img-wrap">
     <img src="img/{{ img }}.jpg" alt="" class="news-list__img"> 
    </div>
    <div class="news-list__date">{{ date }}</div>
    <h2 class="news-list__title">{{ title }}</h2>
    <span class="news-list__descr">{{ descr }}</span>
  </article>
</div>
