.news-list {

  &__section-title {
    color: $blackLight;
    font-size: 3.2rem;
    font-weight: 700;
  }
  
  &__card {
    margin-bottom: 40px;
  }

  &__date {
    color: #433f3f;
    font-size: 1.6rem;
  }

  &__title {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.4rem;
  }

  &__descr {
    font-size: 1.6rem;
  }

  @media (max-width: $screen-md) {
    &__date {
      font-size: 1.4rem;
    }

    &__title {
      font-size: 1.6rem;
      line-height: 2rem;
    }

    &__descr {
      font-size: 1.4rem;
    }
  }
}