.advantages {
  margin-top: 45px;

  &__container {
    @include container;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-basis: calc(33% - 10px)
  }

  &__descr {
    color: $blackLight;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    margin-left: 40px;
  }
  
  @media (max-width: 1000px) {
    &__descr {
      margin-left: 15px;
    }
  }

  @media (max-width: $screen-md) {
    &__item {
      margin-top: 20px;
      flex-basis: calc(100% - 20px)
    }

    &__descr {
      line-height: 26px;
    }

    &__icon {
      margin-top: 10px;
    }
  }
}