.advantages {
  margin-top: 45px;

  &__container {
    @include container;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-basis: calc(33% - 30px)
  }

  &__descr {
    color: $blackLight;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
    margin-left: 20px;
  }
  
}