.d-catalogue {

  &__header {
    display: flex;
    align-items: center;
  }

  &__btn {
    color: $colorTitle;
    display: flex;
    align-items: center;
    height: auto;
    margin-left: auto;
    padding: 15px;
    font-size: 1.6rem;
    border-radius: 7px;
    background-color: #f4f0f0;
    &-txt {
      margin-left: 8px;
    }
  }

  &__name {
    color: #2d2a2a;
    font-size: 2.6rem;
    font-weight: bold;
    margin: 0;
  }

  &__amount {
    color: #433f3f;
    margin-left: 5px;
    margin-top: 7px;
    font-size: 2rem;
    font-weight: 700;
    opacity: 0.6;
  }

  &__accordion {
    margin-top: 60px;
    &-visible {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 45px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8.5px 15px 8.5px;
        border-color: transparent transparent #c9c9c9 transparent;
      }
    }

    &-hidden {
      display: none;
    }

    &-visible {
      cursor: pointer;
      padding: 10px 0px;
      border-top: 2px solid #e7e7e7;
      &.active + .d-catalogue__accordion-hidden {
        display: block;
      }
    }

    &-title {
      color: #433f3f;
      margin: 0;
      margin-left: 15px;
      font-size: 2rem;
      font-weight: 700;
    }

    &-amount {
      display: block;
      color: $colorTitle;
      margin-left: 10px;
      font-size: 2rem;
      font-weight: 700;
      opacity: 0.6;
    }
  }

  @media (max-width: 1000px) {
    &__btn {
      display: none;
    }

    &__name {
      font-size: 2.2rem;
    }
  }

}