.product-detailed {

  &__img {
    &-wrap {
      max-width: 369px;
      height: 368px;
      border-radius: 7px;
      border: 1px solid #e7e7e7;
    }
  }

  &__title {
    color: $gray;
    font-size: 3.2rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__availability {
    color: #019712;
    font-size: 1.3rem;
  }

  &__descr {
    padding: 0;
    list-style: none;

    & li {
      margin-top: .3rem;
    }

    &--number {
      color: black;
    }
  }

  &__btn {
    font-size: 1.8rem;
    letter-spacing: 0.25px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 7px;
    margin-left: 15px;
  }

  &__analogue {
    margin: 0px -15px;
    margin-bottom: -15px;
    padding: 0px 25px;
    padding-bottom: 15px;
    background: $colorBackground;

    &-title {
      color: $colorTitle;
      font-size: 1.8rem;
      font-weight: 700;
      padding-top: 30px;
    }
  }

  @media (max-width: 769px) {
    &-modal {
      flex-direction: column;
    }
  }

  @media (max-width: $screen-sm) {

    &__type {
      margin-top: 20px;
    }

    &__title {
      font-size: 2.6rem;
      margin-top: 10px;
    }

    &__btn {
      font-size: 1.6rem;
    }
  }
}