
@font-face {
  font-family: 'Clear Sans Regular';
  src: url('../fonts/ClearSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }


  @font-face {
    font-family: 'Clear Sans Bold';
    src: url('../fonts/ClearSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }

  .box-name {font-family: 'Clear Sans Regular';}

  .box-name {font-family: 'Clear Sans Bold';}
