/* open-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'Clear Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ClearSans-Regular.woff') format('woff'),
       
}

/* open-sans-SemiBold - latin_cyrillic */
@font-face {
  font-family: 'Clear Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/ClearSans-Bold.woff') format('woff'),
}
