html {
    font-size: 10px;
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: border-box;
  }


body {
    font-size: $fontSize;
    font-family: $fontFamily;
    line-height: $lineHeight;
    color: $colorFont;
    background-color: $colorBackground;
}

h1 {
    margin-bottom: vertical-indent(4);
    line-height: 40px;
    font-size: $fontSizeH1;
    font-weight: $fontSemibold;
    color: $colorFont;
}

h2 {
    font-size: $fontSizeH2;
    line-height: 32px;
    font-weight: $fontSemibold;
    color: $colorFont;
}

h3 {
    font-size: $fontSizeH3;
    line-height: 28px;
    font-weight: $fontRegular;
    color: $colorFont;
}

p {

}

.secondary-text {
    font-size: $fontSizeSecondary;
}

a {
    color: $colorLink;
    text-decoration: none;

    &:hover {
        color: $colorLinkHover;
        text-decoration: underline;
    }
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    display: block;
}

.main {
    margin-top: 50px;

    &__container {
        position: relative;
        @include container;
    }

    &__content {
        width: 100%;
        padding: 50px;
        border-radius: 10px;
        border: 1px solid #efefef;
        background-color: #ffffff;

        &::before{
            content: '';
            position: absolute;
            top: -5px;
            left: 0;
            right: 0;
            width: 94%;
            margin: 0 auto;
            height: 5px;
            border-radius: 10px;
            border: 1px solid #ececec;
            background-color: #fbf8f8;
        }
    }

    @media (max-width: $screen-md) {
        & {
            margin-top: 80px;
        }

        &__content {
            padding: 20px;
        }
    }
}

.сome-back {
  position: relative;
  color: #433f3f;
  font-size: 1.4rem;
  font-weight: 600;
  opacity: 0.6;
  transition: .3s ease;
  &:hover {
   color: #433f3f;
   text-decoration: none;
   opacity: 0.5;
  }
  &::before {
      content: '';
      position: absolute;
      top: 4px;
      left: -25px;
      width: 15px;
      height: 15px;
      background: url(../../img/arrow-back.png)no-repeat;
  }

  @media (max-width: 770px) {
  	 & {
        margin-left: 20px;
      }
	}
}
.flex-wrap {
    display: flex;
    align-items: center;
}

.cart__closer {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    opacity: 0.3;
 
  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 23px;
    width: 2px;
    background-color: #333;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.tag {
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgba(222, 222, 222, 0.66);
  background-color: #ffffff;
}

.mb-0 {
  margin-bottom: 0!important;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
  


