.page-header {
  overflow: hidden;
  padding-top: 10px;

  &__container {
    @include container;
  }

  &__inner {
    display: flex;
  }

  &__bar {
    display: flex;
    flex-direction: column;
    flex-basis: 1;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__bottom {
    display: flex;
    margin-top: 18px;
  }


  &__address {
    font-size: 1.3rem;
    display: block;
    width: 98px;
    text-decoration-style: dotted;
    text-decoration-color: $black;
  }

  &__street {
    font-size: 1.3rem;
    display: block;
    width: 120px;
  }

  &__phone {
    color: $black;
    font-size: 1.9rem;

    &:hover {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.904);
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    margin-left: 26px;

    &-icon {
      margin-right: 10px;
    }

    &-title {
      display: block; 
      margin-bottom: 5px;
      font-size: 1.2em;
      font-weight: 700;
      letter-spacing: 0.3px;
    }

    &-amount {
      display: inline-block;
      color: #fff;
      padding: 2px;
      padding-bottom: 0;
      border-radius: 3px;
      background-color: #2d2a2a;
    }

    &-price {
      display: inline-block;
    }
  }

  @media (max-width: 1000px) {
    &__address {
      display: none;
    }
  
    &__street {
     display: none;
    }

    &__cart-info{
      display: none;
    }

    &__bar {
      flex-direction: row;
    }

    &__top {
     order: 2
    }
  
    &__bottom {
      order: 1;
    }

    &__phone {
      white-space: nowrap;
      font-size: 1.5rem;
    }

    &__cart {
      height: 40px;
    }

    &__phone {
      font-size: 1.6rem;
      margin-top: 10px;
      margin-left: 10px;
    }
  }

  @media (max-width: $screen-sm) {

    &__top {
      order: 1;
     }
   
     &__bottom {
       order: 2;
     }

     &__bar {
      flex-direction: column;
    }

    &__cart {
      position: absolute;
      right: 10px;
      top: 30px;
    }

    &__phone {
      position: absolute;
      right: 20%;
      top: 30px;
    }

  }
}