<header class="page-header">
  <div class="page-header__container">
    <div class="page-header__inner">
      <a href="" class="logo">
         <img src="" alt="" class="logo__icon">
         <sapn class="logo__descr">Запасные части для автоматических трансмиссий</sapn>
      </a>
      <div class="page-header__bar">
         {% include '../../components/nav/page-nav.twig' %}
      </div>
    </div>
  </div>
</header>