 <nav class="page-nav">
   <ul class="page-nav__list">
     <li class="page-nav__list-item"><a href="catalogue.html" class="page-nav__list-link">Каталог</a></li>
     <li class="page-nav__list-item"><a href="" class="page-nav__list-link">Доставка</a></li>
     <li class="page-nav__list-item"><a href="" class="page-nav__list-link">Гарантия</a></li>
     <li class="page-nav__list-item"><a href="" class="page-nav__list-link">Контакты</a></li>
     <li class="page-nav__list-item"><a href="news-list.html" class="page-nav__list-link">Новости</a></li>
   </ul>
 </nav>