.product {
	cursor: pointer;
  margin-top: 7px;
  background: $white;
	&:hover:not(:first-child) {
		box-shadow: 0 1px 12px rgba(141, 123, 123, 0.11);
  }
  
  &:hover:not(:first-child) .product__name  {
		color: $colorPrimery;
  }
  
  &--bd-grey {
    border-radius: 3px;
    border: 1px solid #f3f3f3;
  }

  &--theme-transparent {
    background: transparent;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:first-child) {
      border-top: 2px solid #f3f3f3;
    }
  }

  &__head {
    color: $colorTitle;
    font-size: 1.4rem;
    opacity: 0.6;
  }

  &__btn {
    color: #ffffff;
    font-size: 1.6rem;
    height: 33px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2px; 
    border-radius: 5px;
    &--added {
      color: $colorTitle;
      border: 1px solid rgba(222, 222, 222, 0.66);
      background-color: #ffffff;
    }
  }

  &__photo  {
      width: 88px;
  }          
  &__article {
      width: 85px;  
  }
  &__name {
      width: 175px;
      color: #433f3f;
      font-size: 1.4rem;
      font-weight: 700;
  }

  &__producer {
      width: 120px;
  }

  &__tech-number {
      width: 100px;
  }

  &__availability {
      width: 112px;
      text-align: center;
  }

  &__amount {
      width: 130px;
  }

  &__to-cart {
    position: relative;
      width: 120px;
      display: flex;
      justify-content: center;
  }

  &__order-only {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(222, 222, 222, 0.66);
    background-color: #ffffff;
  }

  &__available {
    color: #019712;
    font-size: 1.3rem;
  }

  &__mobile {
    display: none;
  }


  @media (max-width: 992px) {
    &__row {
      display: none;
    }

    &__mobile {
      display: flex;
      align-items: center;

      &-img {
        width: 110px;
      }

      &-wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      &-item {
        width: calc(50% - 15px);
      }

      &-name {
        margin-top: 10px;
        color: rgba(67, 63, 63, 0.438);
      }
    }

    &__availability {
     display: inline-block;
     width: auto;
     color: $colorTitle;
    }

    &__article {
      color: $colorTitle;
    }

    &__tech-number {
      color: $colorTitle;
    }

    &__amount {
      display: inline-block;
    }

    &__to-cart {
      width: 100%;
      margin-top: 10px;
    }

    &__btn {
      width: 100%;
    }
  }

  @media (max-width: 770px) {
   

    &__mobile {
      font-size: 1.4rem;
      display: flex;
      align-items: flex-start;

      &-img {
        width: 110px;
        margin-top: 20px;
      }

      &-wrap {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      &-item {
        width: calc(45% - 15px);
        &--lg {
          width: 55%;
        }
      }

      &-name {
        margin-top: 10px;
      }
    }

    &__availability {
     display: inline-block;
     width: auto;
    }

    &__amount {
      display: inline-block;
    }

    &__to-cart {
      width: 100%;
      margin-top: 10px;
    }

    &__btn {
      width: 100%;
    }

    .field-num__input-wrap {
      width: 100px;
    }
  }

  @media (max-width: 576px) {

    & {
      position: relative;
    }

    &__mobile {

      &-img {
        width: 120px;
      }
      &-item {
        width: 150px;
        margin-bottom: 100px;
        &--lg {
          width: 210px;
          margin: 0;
        }
      }
    }

    &__to-cart {
      position: absolute;
      width: 100%;
      margin-top: 10px;
      left: 0;
      bottom: 0;
    }

    .field-num__input-wrap {
      width: 120px;
    }

    .flex-wrap {
      position: absolute;
      bottom: 40px;
    }
  }

  @media (max-width: 540px) {

    &__mobile {
      &-item {
        width: 100%;
        &--lg {
          width: 100%;
        }
      }
    }


    .field-num__input-wrap {
      width: 100px;
    }
  }
}


  .field-num {
    display: block;
  }
  .field-num__input-wrap {
      position: relative;
      display: block;
      width: 120px; }
  .field-num__input {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      margin: 0;
      border: none;
      border-radius: 6px;
      padding: 14px 45px;
      line-height: 1.2;
      font-size: 14px;
      font-weight: 500;
      font-family: inherit;
      text-align: center;
      background-color: #fff;
      -moz-appearance: textfield;
      -webkit-appearance: textfield;
              appearance: textfield; }
  .field-num__input:focus,
      button:focus ~ .field-num__input {
        outline: none;
        border-color: #2f75ec; }
  .field-num__input[disabled], .field-num__input[readonly] {
        cursor: not-allowed;
        background-color: #fafafa; }
  .field-num__input::-webkit-input-placeholder {
        color: #bfbfbf;
        opacity: 1; }
  .field-num__input::-ms-input-placeholder {
        color: #bfbfbf;
        opacity: 1; }
  .field-num__input::placeholder {
        color: #bfbfbf;
        opacity: 1; }
  .field-num__btn-plus {
      position: absolute;
      top: 1px;
      bottom: 1px;
      right: 1px;
      width: 40px;
      border: none;
      padding: 0;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      background: transparent; }
  .field-num__btn-plus:hover {
        background-color: #e5e5e5;
        cursor: pointer; }
  .field-num__btn-plus:focus {
        outline: none; }
  .field-num__btn-minus {
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: 1px;
      width: 40px;
      border: none;
      padding: 0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      background: transparent; }
  .field-num__btn-minus:hover {
        background-color: #e5e5e5;
        cursor: pointer; }
  .field-num__btn-minus:focus {
        outline: none; }
  .field-num--bg-tran .field-num__input {
      background: transparent; }
  .field-price {
    display: block;
    margin-bottom: 1.8em;
    padding-top: 8px; }
  .field-price__name {
      display: block;
      margin-bottom: 0.8em;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.63;
      color: #202124;
      text-transform: uppercase; }
  .field-price__range {
      margin-top: 8px;
      margin-bottom: 16px; }
  .field-price__input {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 120px;
      margin: 0 8px;
      border: 1px solid #e5e5e5;
      border-radius: 6px;
      padding: 14px 24px;
      line-height: 1.2;
      font-size: 14px;
      font-weight: 500;
      font-family: inherit;
      background-color: #fff;
      text-align: center;
      -webkit-appearance: textfield;
         -moz-appearance: textfield;
              appearance: textfield; }