.product {
	cursor: pointer;
	margin-top: 7px;
	&:hover:not(:first-child) {
		box-shadow: 0 1px 12px rgba(141, 123, 123, 0.11);
	}

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:first-child) {
      border-top: 2px solid #f3f3f3;
    }
  }

  &__head {
    color: $colorTitle;
    font-size: 1.4rem;
    opacity: 0.6;
  }

  &__btn {
    color: #433f3f;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.2px;
    background: $white;
  }

  &__photo  {
      width: 100px;
  }          
  &__article {
      width: 100px;  
  }
  &__name {
      width: 100px;
  }
  &__producer {
      width: 100px;
  }
  &__tech-number {
      width: 100px;
  }
  &__availability {
      width: 100px;
  }
  &__amount {
      width: 100px;
  }
  &__to-cart {
      width: 100px;
  }

}


  .field-num {
    display: block;
    margin-bottom: 1.8em; }
  .field-num__input-wrap {
      position: relative;
      display: block;
      width: 120px; }
  .field-num__input {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      margin: 0;
      border: none;
      border-radius: 6px;
      padding: 14px 45px;
      line-height: 1.2;
      font-size: 14px;
      font-weight: 500;
      font-family: inherit;
      text-align: center;
      background-color: #fff;
      -moz-appearance: textfield;
      -webkit-appearance: textfield;
              appearance: textfield; }
  .field-num__input:focus,
      button:focus ~ .field-num__input {
        outline: none;
        border-color: #2f75ec; }
  .field-num__input[disabled], .field-num__input[readonly] {
        cursor: not-allowed;
        background-color: #fafafa; }
  .field-num__input::-webkit-input-placeholder {
        color: #bfbfbf;
        opacity: 1; }
  .field-num__input::-ms-input-placeholder {
        color: #bfbfbf;
        opacity: 1; }
  .field-num__input::placeholder {
        color: #bfbfbf;
        opacity: 1; }
  .field-num__btn-plus {
      position: absolute;
      top: 1px;
      bottom: 1px;
      right: 1px;
      width: 40px;
      border: none;
      padding: 0;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      background: transparent; }
  .field-num__btn-plus:hover {
        background-color: #e5e5e5;
        cursor: pointer; }
  .field-num__btn-plus:focus {
        outline: none; }
  .field-num__btn-minus {
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: 1px;
      width: 40px;
      border: none;
      padding: 0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
      background: transparent; }
  .field-num__btn-minus:hover {
        background-color: #e5e5e5;
        cursor: pointer; }
  .field-num__btn-minus:focus {
        outline: none; }
  .field-num--bg-tran .field-num__input {
      background: transparent; }
  .field-price {
    display: block;
    margin-bottom: 1.8em;
    padding-top: 8px; }
  .field-price__name {
      display: block;
      margin-bottom: 0.8em;
      font-size: 12px;
      font-weight: 700;
      line-height: 1.63;
      color: #202124;
      text-transform: uppercase; }
  .field-price__range {
      margin-top: 8px;
      margin-bottom: 16px; }
  .field-price__input {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      max-width: 120px;
      margin: 0 8px;
      border: 1px solid #e5e5e5;
      border-radius: 6px;
      padding: 14px 24px;
      line-height: 1.2;
      font-size: 14px;
      font-weight: 500;
      font-family: inherit;
      background-color: #fff;
      text-align: center;
      -webkit-appearance: textfield;
         -moz-appearance: textfield;
              appearance: textfield; }